/py_week3/.idea
/.idea
py_week3/.env
/py_week3/py_day18/__pycache__
/py_week3/py_day17/__pycache__
/py_week3/py_day19/__pycache__
/py_week3/py_day20/__pycache__
/py_week3/py_day21/__pycache__
/py_week3/py_day15/__pycache__
/py_week3/py_day16/__pycache__
/py_week4/.idea
/py_week4/py_day22/__pycache__
/py_week4/py_day23/__pycache__
/py_week4/py_day24/__pycache__
/py_week4/py_day25/__pycache__
/py_week4/py_day26/__pycache__
